In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

WARNING:tensorflow:From C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
tf.keras.utils.set_random_seed(123)

In [3]:
df = pd.read_csv("./src/2024_6_3_Data.txt", sep='\t')

In [4]:
df.head()

                    Date   Command_door  Current (A)   Unnamed: 3
0   3/6/2024  14:51:20.58  COMMAND_CLOSE        0,567         NaN
1  3/6/2024  14:51:20.137  COMMAND_CLOSE        0,548         NaN
2  3/6/2024  14:51:20.313  COMMAND_CLOSE        0,547         NaN
3  3/6/2024  14:51:20.406  COMMAND_CLOSE        0,551         NaN
4  3/6/2024  14:51:20.483  COMMAND_CLOSE         0,56         NaN

In [5]:
df.columns

Index(['Date ', 'Command_door ', 'Current (A) ', 'Unnamed: 3'], dtype='object')

In [6]:
df['Current (A) '] = df['Current (A) '].str.replace(',','.').astype(float)

In [7]:
df['Obs Number'] = 0

In [8]:
df = df.drop('Unnamed: 3', axis=1)

In [9]:
df.head()

                    Date   Command_door   Current (A)   Obs Number
0   3/6/2024  14:51:20.58  COMMAND_CLOSE         0.567           0
1  3/6/2024  14:51:20.137  COMMAND_CLOSE         0.548           0
2  3/6/2024  14:51:20.313  COMMAND_CLOSE         0.547           0
3  3/6/2024  14:51:20.406  COMMAND_CLOSE         0.551           0
4  3/6/2024  14:51:20.483  COMMAND_CLOSE         0.560           0

In [10]:
obs_number = 0

In [11]:
len(df)

2193

In [12]:
for i in range(1,len(df)):
    if df.loc[i,'Command_door '] != df.loc[i-1,'Command_door ']:
        obs_number += 1
    df.loc[i,'Obs Number'] = obs_number

In [13]:
# Valores sin repeticiones en la columna
df['Obs Number'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [14]:
df['Command_door '].unique()

array(['COMMAND_CLOSE', 'COMMAND_OPEN'], dtype=object)

In [15]:
close = df[df['Command_door '] == 'COMMAND_CLOSE' ]

In [16]:
close.head()

                    Date   Command_door   Current (A)   Obs Number
0   3/6/2024  14:51:20.58  COMMAND_CLOSE         0.567           0
1  3/6/2024  14:51:20.137  COMMAND_CLOSE         0.548           0
2  3/6/2024  14:51:20.313  COMMAND_CLOSE         0.547           0
3  3/6/2024  14:51:20.406  COMMAND_CLOSE         0.551           0
4  3/6/2024  14:51:20.483  COMMAND_CLOSE         0.560           0

In [17]:
data = close.pivot_table(values = 'Current (A) ', aggfunc=['mean', 'median','std', 'min','max'], index='Obs Number')

In [18]:
data.head()

                   mean       median          std          min          max
           Current (A)  Current (A)  Current (A)  Current (A)  Current (A)
Obs Number
0              0.547672        0.548     0.010250        0.506        0.569
2              0.566139        0.358     0.603041       -0.697        1.819
4              0.559519        0.485     0.645010       -1.122        1.819
6              0.474645        0.286     0.638256       -0.904        1.814
8              0.446937        0.304     0.689106       -1.390        1.848

In [19]:
X = pd.concat([data.head(), data.tail()])

In [20]:
X

                   mean       median          std          min          max
           Current (A)  Current (A)  Current (A)  Current (A)  Current (A)
Obs Number
0              0.547672       0.5480     0.010250        0.506        0.569
2              0.566139       0.3580     0.603041       -0.697        1.819
4              0.559519       0.4850     0.645010       -1.122        1.819
6              0.474645       0.2860     0.638256       -0.904        1.814
8              0.446937       0.3040     0.689106       -1.390        1.848
20             1.064522       1.1975     0.771661       -1.186        1.873
22             1.175400       1.3675     0.649127       -0.804        1.867
24             1.098318       1.3160     0.748465       -0.706        1.883
26             1.089419       1.1180     0.613186       -0.677        1.873
28             0.922557       0.7890     0.645240       -1.104        1.878

In [21]:
y = np.array([0,0,0,0,0,1,1,1,1,1])

# Red neuronal sencilla

In [22]:
model = tf.keras.Sequential(
    [
     tf.keras.layers.InputLayer(input_shape=(X.shape[1],)),
     tf.keras.layers.Dense(3),
     tf.keras.layers.Dense(2, activation='softmax')   
    ]
)

WARNING:tensorflow:From C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [23]:
model.compile(loss='mse', metrics=['mae'])

WARNING:tensorflow:From C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 18

 dense_1 (Dense)             (None, 2)                 8

=================================================================
Total params: 26 (104.00 Byte)
Trainable params: 26 (104.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
X = X.values.reshape(X.shape[0], X.shape[1], 1)

In [26]:
model.fit(X,y, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

1/1 [==============================] - 1s 837ms/step - loss: 0.4631 - mae: 0.5000
Epoch 2/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4617 - mae: 0.5000
Epoch 3/100
1/1 [==============================] - 0s 16ms/step - loss: 0.4606 - mae: 0.5000
Epoch 4/100
1/1 [==============================] - 0s 16ms/step - loss: 0.4596 - mae: 0.5000
Epoch 5/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4587 - mae: 0.5000
Epoch 6/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4578 - mae: 0.5000
Epoch 7/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4569 - mae: 0.5000
Epoch 8/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4561 - mae: 0.5000
Epoch 9/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4553 - mae: 0.5000
Epoch 10/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4544 - mae: 0.5000
Epoch 11/100
1/1 [==============================] - 0s 14ms/step - loss: 0.4536 - mae: 0.5000
Epoch 12/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4528 - mae: 0.5000
Epoch 13/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4519 - mae: 0.5000
Epoch 14/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4511 - mae: 0.5000
Epoch 15/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4502 - mae: 0.5000
Epoch 16/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4493 - mae: 0.5000
Epoch 17/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4484 - mae: 0.5000
Epoch 18/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4475 - mae: 0.5000
Epoch 19/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4466 - mae: 0.5000
Epoch 20/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4457 - mae: 0.5000
Epoch 21/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4447 - mae: 0.5000
Epoch 22/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4438 - mae: 0.5000
Epoch 23/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4428 - mae: 0.5000
Epoch 24/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4418 - mae: 0.5000
Epoch 25/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4407 - mae: 0.5000
Epoch 26/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4397 - mae: 0.5000
Epoch 27/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4386 - mae: 0.5000
Epoch 28/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4375 - mae: 0.5000
Epoch 29/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4364 - mae: 0.5000
Epoch 30/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4352 - mae: 0.5000
Epoch 31/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4341 - mae: 0.5000
Epoch 32/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4329 - mae: 0.5000
Epoch 33/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4317 - mae: 0.5000
Epoch 34/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4305 - mae: 0.5000
Epoch 35/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4292 - mae: 0.5000
Epoch 36/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4279 - mae: 0.5000
Epoch 37/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4266 - mae: 0.5000
Epoch 38/100
1/1 [==============================] - 0s 14ms/step - loss: 0.4253 - mae: 0.5000
Epoch 39/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4239 - mae: 0.5000
Epoch 40/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4225 - mae: 0.5000
Epoch 41/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4211 - mae: 0.5000
Epoch 42/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4196 - mae: 0.5000
Epoch 43/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4182 - mae: 0.5000
Epoch 44/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4167 - mae: 0.5000
Epoch 45/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4151 - mae: 0.5000
Epoch 46/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4136 - mae: 0.5000
Epoch 47/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4120 - mae: 0.5000
Epoch 48/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4104 - mae: 0.5000
Epoch 49/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4088 - mae: 0.5000
Epoch 50/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4071 - mae: 0.5000
Epoch 51/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4054 - mae: 0.5000
Epoch 52/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4037 - mae: 0.5000
Epoch 53/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4019 - mae: 0.5000
Epoch 54/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4002 - mae: 0.5000
Epoch 55/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3984 - mae: 0.5000
Epoch 56/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3966 - mae: 0.5000
Epoch 57/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3947 - mae: 0.5000
Epoch 58/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3928 - mae: 0.5000
Epoch 59/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3909 - mae: 0.5000
Epoch 60/100
1/1 [==============================] - 0s 26ms/step - loss: 0.3890 - mae: 0.5000
Epoch 61/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3870 - mae: 0.5000
Epoch 62/100
1/1 [==============================] - 0s 8ms/step - loss: 0.3851 - mae: 0.5000
Epoch 63/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3831 - mae: 0.5000
Epoch 64/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3810 - mae: 0.5000
Epoch 65/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3790 - mae: 0.5000
Epoch 66/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3769 - mae: 0.5000
Epoch 67/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3749 - mae: 0.5000
Epoch 68/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3727 - mae: 0.5000
Epoch 69/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3706 - mae: 0.5000
Epoch 70/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3685 - mae: 0.5000
Epoch 71/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3663 - mae: 0.5000
Epoch 72/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3642 - mae: 0.5000
Epoch 73/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3620 - mae: 0.5000
Epoch 74/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3598 - mae: 0.5000
Epoch 75/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3576 - mae: 0.5000
Epoch 76/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3553 - mae: 0.5000
Epoch 77/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3531 - mae: 0.5000
Epoch 78/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3509 - mae: 0.5000
Epoch 79/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3486 - mae: 0.5000
Epoch 80/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3464 - mae: 0.5000
Epoch 81/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3441 - mae: 0.5000
Epoch 82/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3419 - mae: 0.5000
Epoch 83/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3396 - mae: 0.5000
Epoch 84/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3374 - mae: 0.5000
Epoch 85/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3351 - mae: 0.5000
Epoch 86/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3329 - mae: 0.5000
Epoch 87/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3306 - mae: 0.5000
Epoch 88/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3284 - mae: 0.5000
Epoch 89/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3262 - mae: 0.5000
Epoch 90/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3240 - mae: 0.5000
Epoch 91/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3218 - mae: 0.5000
Epoch 92/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3196 - mae: 0.5000
Epoch 93/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3174 - mae: 0.5000
Epoch 94/100
1/1 [==============================] - 0s 11ms/step - loss: 0.3153 - mae: 0.5000
Epoch 95/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3132 - mae: 0.5000
Epoch 96/100
1/1 [==============================] - 0s 10ms/step - loss: 0.3111 - mae: 0.5000
Epoch 97/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3090 - mae: 0.5000
Epoch 98/100
1/1 [==============================] - 0s 12ms/step - loss: 0.3069 - mae: 0.5000
Epoch 99/100
1/1 [==============================] - 0s 12ms/step - loss: 0.3049 - mae: 0.5000
Epoch 100/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3029 - mae: 0.5000

In [27]:
loss, accuraccy = model.evaluate(X,y)

1/1 [==============================] - 0s 212ms/step - loss: 0.3009 - mae: 0.5000

In [28]:
loss

0.300913006067276

In [29]:
accuraccy

0.5

In [30]:
y_pred_proba = model.predict(X)

1/1 [==============================] - 0s 105ms/step

In [31]:
y_pred = y_pred_proba.argmax(axis=1)

In [32]:
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [33]:
y

array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1])